<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <!-- Cria o cabeçalho da tabela -->
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">RU</th>
          <th scope="col">Curso</th>
          <th scope="col">Data de Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <!-- Preenche os dados usando o ngFor -->
        <tr *ngFor="let aluno of alunos; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <!-- Preenche o nome do aluno -->
            {{ aluno.nome }}
          </td>
          <!-- Preenche o RU do aluno -->
          <td>{{ aluno.ru }}</td>
          <!-- Preenche o curso do aluno -->
          <td>{{ aluno.nomeDoCurso }}</td>
          <!-- Preenche a data de nascimento do aluno -->
          <td>{{ aluno.dataNascimento }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
<router-outlet></router-outlet>
